.footer-container {
    text-align: left;
    /* margin-top: 124px; */
    /* margin-bottom: 124px; */
    width: 85%;
    margin-left: 10%;
}

div {
    margin-top : 72px;
    padding-bottom : 24px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}

.zuri-logo, .i4g-logo {
    height: 24px;
}