.names {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #101828;
}

#slack {
    display: none;
}

/* Media Queries */
@media screen and (min-width: 840px) {
    .profile-container {
        margin: 64px 0 56px 0;
    }
    
    .names {
        font-size: 20px;
        line-height: 30px;
    }
}